
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #121212;
}

#root {
  display: flex;
  width: 100%;
  height: 100vh;
}

.circule {
  width: 150px;
  height: 150px;
  margin-top: 150px;
  margin-left: 200px;
  border: 2px solid white;
  border-radius: 50%;
}

.chest {
  width: 20px;
  height: 100px;
  margin-left: 225px;
  border: 2px solid white;
}